<footer class="footer">
    <button>Boton flecha</button>
    <div>
      <nav class="nav1">
        <ul class="list-nav1">
          <li><a class="list-nav1_a" href="https://adalab.es/">articles</a></li>
          <li><a class="list-nav1_a" href="https://adalab.es/">books</a></li>
          <li><a class="list-nav1_a" href="https://adalab.es/">events</a></li>
          <li><a class="list-nav1_a" href="https://adalab.es/">reasons</a></li>
          <li><a class="list-nav1_a" href="https://adalab.es/">tips</a></li>
        </ul>
      </nav>
    </div>

    <div>
      <nav class="nav2">
        <ul class="list-nav2">
          <li><a class="list-nav2_a" href="https://adalab.es/">twitter</a></li>
          <li><a class="list-nav2_a" href="https://adalab.es/">instagram</a></li>
          <li><a class="list-nav2_a" href="https://adalab.es/">mastodon.social</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <small>
        &copy;2021
        we imagen corazon components
      </small>
    </div>
  </footer>