<footer class="footer">
  <button class="button-footer"><img class="button-footer_arrow" src="./assets/images/ico-arrow.svg" alt="button-footer"></button>
  <div>
    <nav class="nav1">
      <ul class="list-nav1">
        <li><a class="list-nav1_a" href="https://adalab.es/">articles</a></li>
        <li><a class="list-nav1_a" href="https://adalab.es/">books</a></li>
        <li><a class="list-nav1_a" href="https://adalab.es/">events</a></li>
        <li><a class="list-nav1_a" href="https://adalab.es/">reasons</a></li>
        <li><a class="list-nav1_a" href="https://adalab.es/">tips</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <nav class="nav2">
      <ul class="list-nav2">
        <li><a class="list-nav2_a" href="https://adalab.es/">twitter</a></li>
        <li><a class="list-nav2_a" href="https://adalab.es/">instagram</a></li>
        <li><a class="list-nav2_a" href="https://adalab.es/">mastodon.social</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <small>
      <p class="copy">&copy;2021</p>
      <p class="copy2">we <i class="em em-heart" aria-role="presentation" aria-label="heart"></i> components</p>
    </small>
  </div>
</footer>