<main class="main">

    <section class="hero">
        <div class="title-hero">
            <h1 class="title-hero1">anonymous proxy</h1>
            <p>in hac habitasse platea dictumst.</p>
        </div>
        <button class="button-hero"><img class="ico-scroll-down" src="./assets/images/ico-scroll-down.svg"
                alt="button-hero"></button>
    </section>

    <section class="section1">
        <p class="p1-section1">insomnia tips</p>
        <h2 class="title-section1">looking through a window</h2>
        <p class="p2-section1">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
            semper
            sodales rutrum.
        </p>
        <button class="button-go">go</button>
    </section>

    <section class="section2">
        <h2 class="title-section2">3 reasons to purchase</h2>
        <article class="">
            ut sed metus
            Lorem ipsum dolor sit amet, consecteur.
        </article>
        <article>
            Curabitur ac erat
            Mauris mattis urna quis lorem molestie.
        </article>
        <article>
            Morbi dictum
            Aliquam in dolor et dolor tincidunt.
        </article>
        <button>Boton more reasons</button>
    </section>
</main>