<main class="main">

    <section id="hero" class="hero">
        <div class="title-hero">
            <h1 class="title-hero1">anonymous proxy</h1>
            <p class="subtitle-hero">in hac habitasse platea dictumst.</p>
        </div>
        <button class="button-hero"><a class="button-hero_a" href="#footer"><img class="ico-scroll-down" src="./assets/images/ico-scroll-down.svg" alt="button-hero"></a></button>
    </section>

    <section class="section1">
        <p class="p1-section1">insomnia tips</p>
        <h2 class="title-section1">looking through a window</h2>
        <p class="p2-section1">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
            semper sodales rutrum.
        </p>
        <button class="button-go"><a class="a-go" href="">go</a></button>
    </section>

    <section class="wrapper">
        <h2 class="item1">3 reasons to purchase</h2>

        <article class="item2">
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </article>

        <article class="item3">
            <h3>Curabitur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>
        </article>

        <article class="item4">
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
        </article>

        <button class="button-reasons"><a class="a-reasons" href="">More reasons</a></button>
    </section>
</main>