//HEADER
$c-menu: #0271bc;

//HERO
$font-slab: "Roboto Slab", serif;
$font-roboto: "Roboto", sans-serif;
$c-white: #ffffff;

//MAIN
$lightblue: #8ccbea;
$greyish-brown: #4a4a4a;
$bright-orange: #f26002;
$ice-blue: #eff9ff;

//FOOTER
$dark-grey-blue: #304268;
