.footer {
    background-color: #304268;
    padding-top: 59px;
}

.list-nav1 {
    margin: 30px 30px;
    list-style: none;
}

.list-nav1_a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}

.list-nav2 {
    padding: 10px;
    list-style: none;
}

.list-nav2_a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;    
}