.section1 {
  width: 100%;
  padding-top: 30px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.p1-section1 {
  color: $lightblue;
  text-transform: capitalize;
  font-family: $font-roboto;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.title-section1 {
  width: 100%;
  height: 60px;
  font-family: $font-slab;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  margin-top: 1px;
}

.p2-section1 {
  width: 100%;
  font-family: $font-roboto;
  font-size: 18px;
  line-height: 30px;
  color: $greyish-brown;
  margin-top: 15px;
}

.button-go {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid $bright-orange;
  background-color: $c-white;
  color: $bright-orange;
  font-family: $font-roboto;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  &:hover {
    transform: scale(1.2);
  }
}

.a-go {
  color: $bright-orange;
}

.wrapper {
  background-color: $ice-blue;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45px repeat(4, 20%);
  text-align: center;
  gap: 20px;
  padding-bottom: 60px;
}

.item1 {
  font-family: $font-slab;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
}

.item2,
.item3,
.item4 {
  font-family: $font-roboto;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  text-transform: initial;
}

.button-reasons {
  width: 184px;
  height: 45px;
  background-color: $bright-orange;
  font-size: 20px;
  line-height: 45px;
  border-radius: 25px;
  border: 1px solid $bright-orange;
  text-transform: initial;
  align-self: center;
  justify-self: center;
  margin-bottom: 60px;
  &:hover {
    background-color: $c-menu;
  }
}

.a-reasons {
  color: #eff9ff;
}

@media all and (min-width: 768px) {
  .section1,
  .wrapper {
    padding-left: 39px;
  }

  .title-section1 {
    font-size: 26px;
    line-height: 45px;
  }

  .p2-section1 {
    font-size: 20px;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 40% 30%;
  }

  .item1 {
    padding: 20px;
    font-size: 26px;
    grid-column: span 3;
  }

  .item2-title, .item3-title, .item4-title {
    font-size: 24px;
    font-family: $font-slab;
  }

  .item-p {
    font-size: 20px;
  }

  .button-reasons {
    grid-column: span 3;
  }
}
