@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.image-cover {
    height: 100vh;
    width: 100vw;
}

.title-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
}

.title-hero1 {
    width: 290px;
    height: 110px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    word-spacing:100vw;
}

p {
    width: 290px;
    height: 21px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}

.button-hero {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico-scroll-down {
    width: 13px;
    height: 12px;
}