@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';


.hero {
    height: 100vh;
    background-image: url('../images/cover.jpg');
    background-position: center;
    background-size: cover;
}


.title-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
   
}

.title-hero1 {
    width: 290px;
    height: 110px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    text-align: center;
}

p {
    width: 290px;
    height: 21px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.button-hero {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 110%);
  
}

.ico-scroll-down {
    width: 20px;
    height: 11.7px;
    margin-top: 5px;
    margin-left: -1px;
}

.section1 {
    padding-top: 30px;
    padding-left: 15px;
}

.p1-section1 {
    color: #8ccbea;
    width: 90px;
    height: 30px;
    text-transform: capitalize;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 30px;
}

.title-section1 {
    width: 290px;
    height: 60px;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
}

.p2-section1 {
    width: 290px;
    height: 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #4a4a4a;
    text-align: justify;
    margin-top: 15px;
}

.button-go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: 2px solid #f26002;
    background-color: white;
    color: #f26002;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
}

.section2 {
    background-color: #eff9ff;
    padding-top: 30px;
}

.title-section2 {
    width: 290px;
    height: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    color: #000000;
    padding-bottom: 45px;
    
}